.result {
    height: 100vh;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    overflow: hidden;
}

.result-top {
    width: 100%;
    top: 20px;
    padding: 20px 0;
    text-align: center;
    line-height: 40px;
    font-size: 40px;
    font-weight: 600;
    position: absolute;
}

.correctcount-correct {
    color: #ff0000;
    white-space: pre;
}

@media screen and (min-width: 500px) {

    .correctcount {
        width: 100%;
        top: 150px;
        margin: 0;
        text-align: center;
        line-height: 64px;
        font-size: 64px;
        font-weight: 400;
        position: absolute;
    }


    .finishcomment {
        width: calc(100% - 280px);
        height: 100px;
        top: 280px;
        left: 10px;
        padding: 16px;
        font-size: 32px;
        line-height: 32px;
        border-radius: 50%;
        border: solid 1px #0a2933;
        position: absolute;
        display: flex;

        & p {
            margin: auto;
        }
    }

    .finishcommentimg {
        width: 132px;
        height: 132px;
        top: 280px;
        right: 20px;
        background-color: #c0c0c0;
        border-radius: 50%;
        position: absolute;

        & img {
         width: 100px;
        }
    }

    .backtotitle {
        width: 100%;
        margin: 0;
        text-align: center;
        bottom: 100px;
        position: absolute;
    
        & button {
            background-color: #fff;
            width: 300px;
            padding: 10px;
            font-size: 32px;
            line-height: 40px;
            display: inline-block;

            &:hover {
                background-color: #eaeaea;
            }
        }
    }
}

@media screen and (max-width: 500px) {

    .correctcount {
        width: 100%;
        top: 100px;
        margin: 0;
        text-align: center;
        line-height: 64px;
        font-size: 64px;
        font-weight: 400;
        position: absolute;
    }


    .finishcomment {
        width: calc(100% - 52px);
        height: 80px;
        top: 250px;
        left: 10px;
        padding: 16px;
        font-size: 28px;
        line-height: 28px;
        border-radius: 50%;
        border: solid 1px #0a2933;
        position: absolute;
        display: flex;

        & p {
            margin: auto;
        }
    }

    .finishcommentimg {
        width: 100px;
        height: 100px;
        top: 380px;
        left: calc(50% - 50px);
        background-color: #c0c0c0;
        border-radius: 50%;
        position: absolute;

        & img {
         width: 80px;
        }
    }

    .backtotitle {
        width: 100%;
        margin: 0;
        text-align: center;
        bottom: 40px;
        position: absolute;
    
        & button {
            background-color: #fff;
            width: 260px;
            padding: 10px;
            font-size: 24px;
            line-height: 32px;
            display: inline-block;

            &:hover {
                background-color: #eaeaea;
            }
        }
    }
}