.result {
    height: 100vh;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.65);
    position: relative;
    overflow: hidden;
}

.result-top {
    width: 100%;
    top: 20px;
    padding: 20px 0;
    text-align: center;
    line-height: 40px;
    font-size: 40px;
    font-weight: 600;
    position: absolute;
}

.correctcount-correct {
    color: #ff0000;
    white-space: pre;
}

@media screen and (min-width: 500px) {

    .correctcount {
        width: 100%;
        top: 150px;
        margin: 0;
        text-align: center;
        line-height: 64px;
        font-size: 64px;
        font-weight: 400;
        position: absolute;
    }


    .finishcomment {
        width: calc(100% - 280px);
        height: 100px;
        top: 45%;
        left: 10px;
        padding: 16px;
        font-size: 32px;
        line-height: 32px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        display: flex;

        & p {
            margin: auto;
        }
    }

    .finishcommentimg {
        width: 180px;
        height: 180px;
        top: calc(45% - 20px);
        right: 20px;
        background-color: #c0c0c0;
        border-radius: 50%;
        position: absolute;
        text-align: center;

        & img {
            width: 136px;
            display: inline-block;
            -webkit-transform: translateY(24px);
            transform: translateY(24px);
        }
    }

    .backtotitle {
        width: 100%;
        margin: 0;
        text-align: center;
        bottom: 40px;
        position: absolute;
    
        & button {
            border: none;
            background: none;
            display: inline-block;
            text-align: center;

            & img {
                width: 350px;
            }
        }
    }

    .fukidashi {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: #fff;
        height: 60px;
        width: 120px;
        clip-path: polygon(50% 50%, 100% 100%, 0 70%);
    }
}

@media screen and (max-width: 500px) {

    .correctcount {
        width: calc(100% - 40px);
        top: 100px;
        margin: 0 20px;
        text-align: center;
        line-height: 64px;
        font-size: 56px;
        font-weight: 400;
        position: absolute;
    }


    .finishcomment {
        width: calc(100% - 52px);
        height: 80px;
        top: 250px;
        left: 10px;
        padding: 16px;
        font-size: 24px;
        line-height: 24px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        display: flex;

        & p {
            margin: auto;
        }
    }

    .finishcommentimg {
        width: 100px;
        height: 100px;
        top: 380px;
        left: calc(50% - 50px);
        background-color: #c0c0c0;
        border-radius: 50%;
        position: absolute;
        text-align: center;

        & img {
            width: 80px;
            display: inline-block;
            -webkit-transform: translateY(10px);
            transform: translateY(10px);
        }
    }

    .backtotitle {
        width: 100%;
        margin: 0;
        text-align: center;
        bottom: 40px;
        position: absolute;
    
        & button {
            border: none;
            background: none;
            display: inline-block;
            text-align: center;

            & img {
                width: 200px;
            }
        }
    }

    .fukidashi {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: #fff;
        height: 60px;
        width: 120px;
        clip-path: polygon(60% 70%, 60% 100%, 98% 20%);
    }
}