@media screen and (min-width: 800px) {
  .explanation-board {
    flex: 1;
    margin: 48px auto;
    padding: 24px;
    padding-top: 75px;
    box-sizing: border-box;
    background-image: url(../src/assets/kaisetu.png);
    background-size: 110%;
    background-position: center;
    max-width: 800px;
    height: 70%;
    aspect-ratio: 409 / 247;

    & p {
      font-size: 36px;
      line-height: 48px;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 800px) {
  .explanation-board {
    flex: 1;
    margin: 48px auto;
    padding: 20px;
    padding-top: 40px;
    box-sizing: border-box;
    background-image: url(../src/assets/kaisetu-sp.png);
    background-size: cover;
    aspect-ratio: 119 / 180;
    height: 80%;
    max-width: 300px;

    & p {
      font-size: 24px;
      line-height: 32px;
      font-weight: 600;
    }
  }
}
